html {
font-family: "Palatino Linotype,Verdana";
font-size:14px;

}

h1 {    
    font-size:26px; 
    color: #8e00d4
} 

h2 {    
    font-size:20px; 
    color: #8e00d4
}


header {
    background: rgb(211, 105, 155);
    color: #ffffff;
    font-family: "Palatino Linotype";
    font-size: 16px;
    width: 75%;
    
}

nav li {
    list-style-type:none;
    padding:0px;
    margin:0px;
    display: inline;

}


 nav {     
    background: rgb(211, 105, 155);
    color: #726e49;
    font-family: Verdana;
    font-size: 13px;
    width: 75%;
    text-align: left;

}

body {
    background: rgb(211, 105, 155);
    color: #ffffff;
    font-family: "Palatino Linotype";
    font-size: 13px;
    width: 75%   

}
.center {
    margin: auto;
    width: 75%;
    padding: 10px;
  }

section {

    background: rgb(211, 105, 155);
    color: #2e6784;
    font-family: "Palatino Linotype,Verdana";
    font-size: 13px;
    width: 75%;

}

footer {
    background: rgb(211, 105, 155);
    color: #726e49;
    font-family: "Impact";
    font-size: 13px;
    width: 75%;

}